<div class="panel panel-default">
    <div class="panel-heading d-flex justify-content-between align-items-center">
        <span>
            <a class="btn btn-danger pull-right" (click)="onDelete()">Delete</a>
            <a class="btn btn-primary pull-right" [routerLink]="['/contacts', contact.id, 'edit']">Edit</a>
        </span>
        <div class="d-flex align-items-center">
            <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-thumbnail" width="50" height="50">
            <h3 class="panel-title ml-3">{{ contact.name }}</h3>
        </div>

    </div>
    <div class="panel-body">
        <p><strong>Email:</strong> {{ contact.email }}</p>
        <p><strong>Phone:</strong> {{ contact.phone }}</p>
    </div>
</div>